.textwhite{
    color: black;
}

.bg-white{
    background-color: white;
}

.bg-black{
    background-color: black;
}

.bg-lightgreen{
    background-color:#56926c ;
}

.text-black{
    color: white;
}
.bg-green
{
    background-color: #67C232;
}

.text-green
{
    color: #67C232;
}
.candidate_photo
{
    width:80px;
    height:80px;
    border:5px solid #67C232;
    border-radius:100%;
}