.textwhite{
    color: black;
}

.bg-white{
    background-color: white;
}

.bg-black{
    background-color: black;
}

.text-black{
    color: white;
}
.bg-green
{
    background-color: #67C232;
}

.text-green
{
    color: #67C232;
}
